server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/healthchat?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email, profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Naver
            scope: name, email

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET:}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: profile_nickname, account_email, profile_image
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          reuse: true
        debug: false

  data:
    redis:
      host: localhost
      port: 6379

  task:
    execution:
      pool:
        core-size: 4
        max-size: 8
        queue-capacity: 50
      thread-name-prefix: "MailAsync-"

jwt:
  secret: ${JWT_SECRET}

app:
  frontend-url: "http://localhost:5173"
  jwt:
    access-exp-seconds: 1800
    refresh-exp-seconds: 1209600
  cookie:
    domain: "localhost"
    secure: false
    same-site: Lax

gemini:
  api:
    key: ${GEMINI_API_KEY}             # .env 또는 환경변수에 저장된 Google AI Studio API 키
    base-url: https://generativelanguage.googleapis.com/v1beta/models
  model:
    default: gemini-2.5-flash            # 현재 최신 모델명
#    default: gemini-2.5-pro
    flash: gemini-2.5-flash            # 빠른 응답용 (선택)
  timeout:
    connect: 5000
    read: 10000

edamam:
  app-id: ${EDAMAM_APP_ID}
  app-key: ${EDAMAM_APP_KEY}
