server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://db:3306/healthchat?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234

  devtools:
    restart:
      enabled: false  # 배포 환경에서는 비활성화 유지

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false   # 배포에서는 false 권장

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email, profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google

          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Naver
            scope: name, email

          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET:}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: profile_nickname, account_email, profile_image
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: redis    # docker-compose 기준
      port: 6379

  task:
    execution:
      pool:
        core-size: 4
        max-size: 8
        queue-capacity: 50
      thread-name-prefix: "MailAsync-"

jwt:
  secret: ${JWT_SECRET}

app:
  frontend-url: "http://52.78.215.10"   # React 실제 접근 URL
  jwt:
    access-exp-seconds: 1800
    refresh-exp-seconds: 1209600
  cookie:
    domain: "52.78.215.10"     # 배포환경: IP 또는 도메인
    secure: false              # http 환경
    same-site: Lax

gemini:
  api:
    key: ${GEMINI_API_KEY}
    base-url: https://generativelanguage.googleapis.com/v1beta/models
  model:
    flash: gemini-2.5-flash
    pro: gemini-2.5-pro
    embed: gemini-embedding-001
  timeout:
    connect: 5000
    read: 10000
